<html>
   <head>
       <title>Welcome to SKY !</title>
       <title> {{ http_host }} !</title>
   </head>
   <body>
       <h1>Success!</h1>
       <h2>The {{ http_host }} virtual host is working!</h2>
   </body>
</html>
